.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    grid-gap:220px 70px;
    grid-auto-rows:65px;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(253, 192, 69);
}

