.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui.segment:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar{
    width: 75%;
    
}

.field {
    width: 85%;
}

.input {
    height: 20px;
}

.nav i {
    margin-right: 20px;
}

.nav a{
  margin-right: 20px;
}

