.categoriesBtn {
    border-radius: 10%;
    border-style: none;
    background-color: rgb(178, 245, 44);
    height: 30px;
    width: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 150px 200px;
   
}

.herroImage{
    height: 40%;
    width: 40%;
}

.about {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    padding: 100px 0 0 0;
}

.about p {
    width: 150px;
}


